.modal {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background: #2c230673;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-wrapper {
  background: #fff;
  width: 50%;
  height: 90%;
  border-radius: 15px;
  padding: 10px 10px;
}

.modal-content {
  overflow-y: scroll;
}

.modal-head {
  display: flex;
  justify-content: space-between;
  padding: 30px 30px 15px 30px;
  position: relative;
}
hr {
  width: 97%;
  margin: 0 auto;
}
.modal-head > .left {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-head > .left > img {
  width: 60px;
  border-radius: 50%;
}

.modal-head > .right {
  display: flex;
  align-items: center;
}

.modal-head > .right > button {
  background: #ffeb3b;
  padding: 17px 19px;
  font-size: 17px;
  border-radius: 7px;
  border: 0;
  font-weight: bolder;
  margin-right: 15px;
}

.modal-head > .right > i {
  font-size: 31px;
  font-weight: 100;
}

.modal-head > .right > i:hover {
  cursor: pointer;
  font-weight: 700;
  transition: 0.1s ease-in-out;
}

.modal {
  display: flex;
  justify-content: space-around;
}

.bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px 20px;
  padding-top: 20px;
  height: 80%;
  overflow-y: auto;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #998b0a;
  cursor: pointer;
}
